
.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: 1rem; }

.profile-img{
  object-fit: fill;
}
.slogan-text {
  font-size: 10px;
}